<div class="publications">
    <a href="./publications.html" class="publications__link">@@publication.link</a>
    <h2 class="publications__title">@@publication.title</h2>
    <div class="publications__wrapper">
        <div class="publications__col">
            @@include('./PublicationsItem.html',{
            "publication":{
                "imgUrl": '',
                "textBlue": 'Валютний контроль помер, хай живе валютний контроль!',
                "date": '14 червня',
                "text": 'Експерти проводять конференції, круглі столи та іншого штибу заходи на тему «лібералізація валютного законодавства». Юристи-експерти-новелісти стирають пальці об «ctrl+c/ctrl+v».'
            }
            })
            @@include('./PublicationsItem.html',{
                "publication":{
                    "imgUrl": './assets/img/publicationNews1.png',
                    "textBlue": 'Заповіт міленіала',
                    "date": '19 серпня',
                    "text": 'Що і як передаватимуть у спадщину сучасні влогери, опініон лідери і криптомільйонери Типовий спадок українського покоління Х виглядає так: квартира у…'
                }
                })
                @@include('./PublicationsItem.html',{
                    "publication":{
                        "imgUrl": '',
                        "textBlue": 'Валютний контроль помер, хай живе валютний контроль!',
                        "date": '14 червня',
                        "text": 'Експерти проводять конференції, круглі столи та іншого штибу заходи на тему «лібералізація валютного законодавства». Юристи-експерти-новелісти стирають пальці об «ctrl+c/ctrl+v».'
                    }
                    })
                    @@include('./PublicationsItem.html',{
                        "publication":{
                            "imgUrl": './assets/img/publicationNews1.png',
                            "textBlue": 'Заповіт міленіала',
                            "date": '19 серпня',
                            "text": 'Що і як передаватимуть у спадщину сучасні влогери, опініон лідери і криптомільйонери Типовий спадок українського покоління Х виглядає так: квартира у…'
                        }
                        })
        </div>
        <div class="publications__col">
            @@include('./PublicationsItem.html',{
                "publication":{
                    "imgUrl": './assets/img/publicationNews2.png',
                    "textBlue": 'Equity associate',
                    "date": '22 квітня',
                    "text": 'На проектах я джун. При цьому я співвласник юридичної фірми. Як це відбулося. Перед вступом батьки мені казали, що якщо буду…'
                }
                })
            @@include('./PublicationsItem.html',{
                "publication":{
                    "imgUrl": './assets/img/publicationNews3.png',
                    "textBlue": 'Закон про мови: як зробити свій сайт відповідним',
                    "date": '19 серпня',
                    "text": 'Наталія Кирик, керівник контент студії Wordfactory.ua По-перше, це красиво! Це аргумент номер один на користь україномовного сайту. По-друге, це ефективно. У…'
                }
                })
            @@include('./PublicationsItem.html',{
                "publication":{
                    "imgUrl": './assets/img/publicationNews2.png',
                    "textBlue": 'Equity associate',
                    "date": '22 квітня',
                    "text": 'На проектах я джун. При цьому я співвласник юридичної фірми. Як це відбулося. Перед вступом батьки мені казали, що якщо буду…'
                }
                })
            @@include('./PublicationsItem.html',{
                "publication":{
                    "imgUrl": './assets/img/publicationNews3.png',
                    "textBlue": 'Закон про мови: як зробити свій сайт відповідним',
                    "date": '19 серпня',
                    "text": 'Наталія Кирик, керівник контент студії Wordfactory.ua По-перше, це красиво! Це аргумент номер один на користь україномовного сайту. По-друге, це ефективно. У…'
                }
                })
        </div>
        <div class="publications__col">
            @@include('./PublicationsItem.html',{
                "publication":{
                    "imgUrl": './assets/img/publicationNews4.png',
                    "textBlue": 'Штраф для «Корпорації добра»: що буде з Google та іншими за порушення GDPR',
                    "date": '29 вересня',
                    "text": 'І чому стягнення у 50 млн євро може стати доленосним прецедентом За матеріалами Mind.ua 21 січня Національна комісія із захисту даних.'
                }
                })
            @@include('./PublicationsItem.html',{
                    "publication":{
                        "imgUrl": './assets/img/publicationNews5.png',
                        "textBlue": 'Компенсація витрат на навчання дитини в дитячому садку та школі',
                        "date": '5 Лютого 2018',
                        "text": 'Про що йде мова В червні цього року Верховна Рада внесла зміни до Податкового кодексу України. Відтепер батьки, які отримують офіційну…'
                    }
                    })
            @@include('./PublicationsItem.html',{
                "publication":{
                    "imgUrl": './assets/img/publicationNews4.png',
                    "textBlue": 'Штраф для «Корпорації добра»: що буде з Google та іншими за порушення GDPR',
                    "date": '29 вересня',
                    "text": 'І чому стягнення у 50 млн євро може стати доленосним прецедентом За матеріалами Mind.ua 21 січня Національна комісія із захисту даних.'
                        }
                        })
            @@include('./PublicationsItem.html',{
                "publication":{
                    "imgUrl": './assets/img/publicationNews5.png',
                    "textBlue": 'Компенсація витрат на навчання дитини в дитячому садку та школі',
                    "date": '5 Лютого 2018',
                    "text": 'Про що йде мова В червні цього року Верховна Рада внесла зміни до Податкового кодексу України. Відтепер батьки, які отримують офіційну…'
                    }
                    })
        </div>
        <button class="publications__button">Ще публікації</button>
    </div>
</div>