<div class="scools__wrapper">
    <p class="scools__title">@@scoolTitle</p>
    <div class="scolls__imges">
        <div class="scools__row">
            @@include('./ScoolsItem.html',{
                "scoolsUrl": './assets/img/scools1.png'
            })
            @@include('./ScoolsItem.html',{
                "scoolsUrl": './assets/img/scools2.png'
            })
            @@include('./ScoolsItem.html',{
                "scoolsUrl": './assets/img/scools3.png'
            })
            @@include('./ScoolsItem.html',{
                "scoolsUrl": './assets/img/scools4.png'
            })
        </div>
        <div class="scools__row">
            @@include('./ScoolsItem.html',{
                "scoolsUrl": './assets/img/scools5.png'
            })
            @@include('./ScoolsItem.html',{
                "scoolsUrl": './assets/img/scools6.png'
            })
            @@include('./ScoolsItem.html',{
                "scoolsUrl": './assets/img/scools7.png'
            })
            @@include('./ScoolsItem.html',{
                "scoolsUrl": './assets/img/scools8.png'
            })
        </div>
        <div class="scools__row">
            @@include('./ScoolsItem.html',{
                "scoolsUrl": './assets/img/scools9.png'
            })
            @@include('./ScoolsItem.html',{
                "scoolsUrl": './assets/img/scools10.png'
            })
            @@include('./ScoolsItem.html',{
                "scoolsUrl": './assets/img/scools11.png'
            })
            @@include('./ScoolsItem.html',{
                "scoolsUrl": './assets/img/scools12.png'
            })
        </div>
    </div>
</div>