<div class="cases__wrapper">
    <h3 class="cases__title">@@casesTitle</h3>
    @@include('./CasesItem.html',{
        "cases": {
            "text": 'Супровід проекту з купівлі-продажу сільськогосподарської продукції',
            "textGrey": 'Hillel IT School'
        }
    })
    @@include('./CasesItem.html',{
        "cases": {
            "text": 'Підготовка комплексного юридичного висновку для європейського банку',
            "textGrey": 'WannaBiz'
        }
    })
    @@include('./CasesItem.html',{
        "cases": {
            "text": 'Супровід проекту з купівлі-продажу сільськогосподарської продукції',
            "textGrey": 'tapgerine'
        }
    })
    @@include('./CasesItem.html',{
        "cases": {
            "text": 'Представництво інтересів великого зернотрейдера в податковому спорі',
            "textGrey": '3D LOOK'
        }
    })
    @@include('./CasesItem.html',{
        "cases": {
            "text": 'Оскарження податкових повідомлень-рішень ДФС',
            "textGrey": 'adtelligent'
        }
    })
    @@include('./CasesItem.html',{
        "cases": {
            "text": 'Супровід проекту з кредитування агротрейдерів мальтійським банком',
            "textGrey": 'Clikky'
        }
    })
</div>