<div class="services">
    <h2 class="services__title">@@serviceTitle</h2>
    <div class="services__wrapper">
        <div class="services__row1">
            @@include('./ServicesItem.html',{
            "service":{
                "img":'./assets/icons/whatWeCan1.svg',
                "textBlue":'IT та електронна комерція',
                "text":'Нескінчений потік договорів, податкові питання,трудові відносини, корпоративні папери —юридична робота відволікає вас від веденнябізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста.'
            }
            })
            @@include('./ServicesItem.html',{
            "service":{
                "img":'./assets/icons/whatWeCan2.svg',
                "textBlue":'Комплексний щоденний юридичний супровід',
                "text":'До того ж, з часом робота стане однотипною і нецікавою для штатного юриста. А ще ми добре знаємо, як важко в Україні знайти хорошого кандидата з досвідом у сфері інформаційних технологій.'
            }
            })
            @@include('./ServicesItem.html',{
            "service":{
                "img":'./assets/icons/whatWeCan3.svg',
                "textBlue":'Структуризація корпоративних відносин',
                "text":'Замість просто надавати юридичні послуги, ми закріпимо юриста або цілу команду, які впишуться в повсякденне життя вашої компанії.'
            }
            })
        </div>
        <div class="services__row2">
            @@include('./ServicesItem.html',{
            "service":{
                "img":'./assets/icons/whatWeCan4.svg',
                "textBlue":'Побудовa договірних відносин',
                "text":'Раз на тиждень, чи тиждень на місяць у вас під боком є ваш власний юрист. Будь-хто в компанії може впіймати його біля кавоварки і просто поговорити про поточні справи замість очікування статусу update.'
            }
            })
            @@include('./ServicesItem.html',{
            "service":{
                "img":'./assets/icons/whatWeCan5.svg',
                "textBlue":'Захист бізнесу, інтелектуальної власності',
                "text":'А весь інший час він працюватиме над новими різноплановими проектами, тому вже точно не зупиниться в професійному розвитку. Так чи інакше, на вас працюватиме весь Axon Partners замість корпоративного юриста.'
            }
            })
            @@include('./ServicesItem.html',{
            "service":{
                "img":'./assets/icons/whatWeCan6.svg',
                "textBlue":'Судове представництво',
                "text":'Невелика компанія, середнього розміру, чи вже лідер ринку? Локальний бізнес або транснаціональна компанія? Маєте власний юридичний відділ, чи ні?'
            }
            })
        </div>
    </div>
</div>