//-------HEADER-------
.header {
    padding: 55px 60px 0;
    margin-bottom: 185px;
    display: flex;
    justify-content: space-between;
    &__contacts {
        display: flex;
        margin-bottom: 10px;
    }

    &__navigation {
        text-align: right;
    }
}
.contacts {
    color: #fff;
    &__lg {
        margin-right: 20px;
    }

    &__location {
        margin-right: 15px;
        color: #fff;
        font-size: 16px;
    }

    &__phone {
        margin-right: 10px;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
    }

    &__fb {
        width: 24px;
        height: 24px;
        position: relative;
        bottom: 4px;
    }

    &_point {
        background-color: #E6E6F0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-top: 5px;
        margin-right: 10px;
    }
}
.lg {
    &__item {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        line-height: 14px;  
        letter-spacing: 1px;
        padding: 4px;
        position: relative;
        bottom: 3px;
        background: none;
        border: none;
        &:first-child{
            outline: none;
        }
        &:hover, &:focus{
            background: #f0145a;
            border-radius: 8px;
        }
    }
}
.navigation {
    &__item {
        text-decoration: none;
        color: #fff;
        margin-left: 15px;
        font-size: 18px;
        line-height: 21px;
    }
}
//-------HEADER-------