@import '_mixins';
@import '_services';
* {
    color: #fff;
    scroll-behavior: smooth;
}
.header{
    &__wrapper {
        background-image: url('../assets/img/bgFirstScreenHomepage.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
}
//-------SYSADMIN-------
.sysAdmin {
    &__text {
        text-align: center;
        position: relative;
        top: 100px;
        right: 50px;
        font-size: 38px;
        line-height: 45px;
    }

    &__img {
        position: absolute;
        bottom: 0;
        left: calc(30%);
        width: 35%;
    }
    
    &__shadow {
        background-image: url(../assets/img/shade.png);
        position: absolute;
        width: 100%;
        height: 200px;
        bottom: 0;
    }
}
.scrollDown {
    position: absolute;
    bottom: 1%;
    left: calc(50% - 42px / 2);
    cursor: pointer;
}
//-------SYSADMIN-------

//-------MAIN-------
.main {
    padding: 80px 60px 0;
    &__wrapper {
        background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
        border-radius: 0px 0px 12px 12px;
        margin-bottom: 60px;
    }

    &__lowyers {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }
    &__services{
        padding-bottom: 80px;
    }
}
.lowyers {

    &__titleWrapper {
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        align-items: flex-end;
    }

    &__title {
        font-size: 42px;
        line-height: 50px;
        color: #B3B3BA;
        cursor: pointer;
        font-weight: 700;
        padding-bottom: 20px;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        background-color: transparent;
        border-right: #643E72;
        &:hover, &:focus {
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:last-child{
            text-align: end;
        }
    }
    &__textWrapper {
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__text {
        &:first-child{
            font-size: 32px;
            line-height: 38px;
            padding-bottom: 20px;
        }
        &:last-child{
            @include commonText;
            opacity: 0.8;
        }
    }
}
//-------SERVICES-------
.services{
    &__link{
        letter-spacing: 1px;
        text-transform: uppercase;
        opacity: 0.5;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        margin-bottom: 5px;
    }
}
//-------SERVICES-------

//-------MAIN-------