@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Rubik:wght@400;700&display=swap');
@import '_reset';
*{
    font-family: 'Rubick', sans-serif;
    font-weight: 400;
}
a{
    text-decoration: none;
    position: relative;
    z-index: 2;
    &:hover{
        color: #1c7dc2;
    }
}