@import '_mixins';
@import './components/header';
@import './components/footer';
@import './components/publications';

//--------HEADER--------
.header {
    margin-bottom: 85px;
}

.contacts {

    &__location,
    &__phone {
        color: #B3B3BA;
    }
}

.lg {
    &__item {
        color: #B3B3BA;
    }
}

.navigation {
    &__item {
        color: #24A3FF;
        &:hover{
            color: #F0145A;
        }
    }
}

//--------MAIN--------
.publicationInf .publicationInf__text:first-child{
    padding-top: 40px;
}
.publicationInf {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 70px;
    &__img{
        width: 90%;
    }
    &__img,&__advertising{
        display: block;
        margin: 0 auto;
    }
    &__advertising{
        margin-bottom: 15px;
    }
    &__imgText{
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        color: #B3B3BA;
        margin-bottom: 40px;
    }
    &__text {
        padding: 0 10px 40px;
        font-size: 18px;
        line-height: 26px;
        &_borderTop{
            border-top: 4px solid #EDEDF7;
            padding-top: 40px;
        }
        &_borderBottom{
            border-bottom: 4px solid #EDEDF7;
            margin-bottom: 40px;
            padding-bottom: 40px;
        }
        &:first-child{
            padding-top: 40px;
        }
        &_blue {
            font-size: 32px;
            line-height: 38px;
            color: #323264;
            margin-bottom: 10px;
        }

        &_red {
            @include textRed;
        }
    }
    &__ol{
        font-size: 18px;
        line-height: 26px;
        padding: 0 15px 25px;
        
    }
    &__olNumber{
        font-size: 18px;
        line-height: 26px;
        color: #F0145A;
        font-weight: 700;
        margin-right: 10px;
    }
    &__date {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #B3B3BA;
    }

    &__imgText {
    }

    &__link {
        
    }
    &__img,&__date,&__text_red{
        margin-bottom: 40px;
    }
}
.link {
    &__img {
        margin-right: 20px;
        background: #F5F5FA;
        border-radius: 12px;
        padding: 10px;
        &:first-child{
            margin-left: 15px;
        }
    }
}
