<div class="footer">
    <div class="footer__wrapper">
        <div class="footer__contacts">
            <div class="footer__row">
                <p class="footer__location">@@footer.location</p>
                <div class="footer__point"></div>
                <a href="./contacts.html" class="footer__map">@@footer.map</a></div>
            <div class="footer__row">
                <img src="@@footer.img" alt="img" class="footer__img">
                <div class="footer__point"></div>
                <p class="footer__phone">@@footer.phone</p>
                <div class="footer__point"></div>
                <a href="https://www.google.com/intl/ru/gmail/about/" class="footer__mail">@@footer.mail</a>
            </div>
        </div>
        <span class="footer__companyName">@@footer.company</span>
    </div>
</div>
