<div class="header">
        <a class="header__logo" href="./homepage.html"><img src="@@url.logo" alt="logo"></a>
        <div class="header__mainInf">
            <div class="header__contacts">
                <div class="contacts__lg">
                    <button class="lg__item" autofocus>ук</button>
                    <button class="lg__item">ру</button>
                    <button class="lg__item">en</button>
                </div>
                <p class="contacts__location">Одеса, Адміральський пр., 3</p>
                <div class="contacts_point"></div>
                <p class="contacts__phone">@@phoneNumber</p>
                <div class="contacts_point"></div>
                <img src="@@url.fb" alt="fb" class="contacts__fb">
            </div>
            <div class="header__navigation">
                <nav>
                    <a href="./about_us.html" class="navigation__item">про нас</a>
                    <a href="./services.html" class="navigation__item">послуги</a>
                    <a href="./team.html" class="navigation__item">команда</a>
                    <a href="./publications.html" class="navigation__item">публікації</a>
                    <a href="./contacts.html" class="navigation__item">контакти</a>
                </nav>
            </div>
        </div>
    </div>
