$weight: (
    exbig: 800,
    big: 700,
    medium: 400
);
$size: (
    big: 24px,
    medium: 20px,
    small: 16px,
    exsmall: 12px
);
$line_height: (
    big: 30px,
    medium: 24px,
    small: 22px,
    exsmall: 12px
);
